{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
 
      <!-- Кнопки управления -->
      <div class="pull-right">
        <button type="submit" form="form-module" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
      </div>
 
      <!-- Название модуля -->
      <h1>{{ heading_title }}</h1>
 
      <!-- Хлебные крошки -->
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
 
    </div>
  </div>
 
  <div class="container-fluid">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
      </div>
      <div class="panel-body">
      {% if text_success_view %}
      <div class="alert alert-success alert-dismissible">
      <i class="fa fa-check-circle"></i>
      {{text_success_view}}
      <button type="button" class="close" data-dismiss="alert">x</button>
      </div>
      {% endif %}
      <div>
      {{text_secret_url}} <font color=red><b>{{ secret_url }}</b></font>
      </div>
      <div>
      {{ brief_instructions }}
      </div>
      <div>
       {% if module_admin_secret_key_page %}
       {{ text_redirect_enabled }}
       {% else %}
       {{ text_redirect_disabled }}
       {% endif %} 
       <a href="{{ redirect_page }}" target="_blank">{{ redirect_page }}</a>
       </div>
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-module" class="form-horizontal">         
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-key">{{ entry_key }}</label>
            <div class="col-sm-10">
              <input type="text" name="module_admin_secret_key_key" value="{{ module_admin_secret_key_key }}" placeholder="{{ entry_key_example }}" id="input-key" class="form-control"/>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-page">{{ entry_page }}</label>
            <div class="col-sm-10">
              <input type="text" name="module_admin_secret_key_page" value="{{ module_admin_secret_key_page }}" placeholder="{{ redirect_url_example }}" id="input-page" class="form-control"/>
            </div>
          </div>                   
          <!-- Настройка: "Статус" -->                    
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
            <div class="col-sm-10">
              <select name="module_admin_secret_key_status" id="input-status" class="form-control">
                {% if module_admin_secret_key_status %}
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
                {% else %}
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %}
              </select>
 
            </div>
          </div>
 
        </form>
      </div>
    </div>
  </div>
</div>
{{ footer }}